@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Oswald:wght@300;400;700&display=swap');



* {
  margin : 0 ;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  }



a {
  text-decoration: none;
}



.app {
  background-color: #222831;
  min-height: 100vh;
}